<!DOCTYPE html>
<html ng-app = "simpleApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src = "table.js"></script>
</head>
<body>
<div ng-controller = "simpleController">
<table border= 1>
<tr>
<th> No </th>
<th> Name </th>
<th> City </th>
</tr>
<tr ng-repeat="entry in collection">
<td> {{$index+1}} </td>
<td> {{entry.name}} </td>
<td> {{entry.city}} </td>
</tr>
</table>
<form ng-submit="addEntry()">
    <label>Name : </label>
    <input type="text" ng-model="newData.name" >
    <label>City : </label>
    <input type="text" ng-model="newData.city" >
<input type="submit" value="Add Entry">
</form>
</div>
</body>
</html>